<div class="container mt-3">
    <div class="row d-flex justify-content-center">
        @for (card of cards; track card.id) {
        @if (card.imageUrl != undefined) {
        <div class="card col-3 m-1 ">
            <img [src]="card.imageUrl" alt="{{ card.name }}" class="img-fluid rounded mx-auto d-block p-3">
            <ul class="card-body">
                <li class="card-text"><span>Nome: </span>{{ card.name }}</li>
                <li class="card-text"><span>Bloco: </span>{{ card.setName }}</li>
                <li class="card-text"><span>Data de lançamento: </span>00/00</li>
            </ul>
        </div>
        }
        }
    </div>
</div>