.img-card {
  /* border: solid black 2px; */
}

.content-card {
  /* border: solid rebeccapurple 2px; */
  width: 20rem;
}

li span {
  font-weight: 600;
}

.card-text {
  font-size: 0.6rem;
}

.long-text {
  font-size: 0.55rem;
}

.card {
  /* width: 13rem;
  height: 24rem; */
}