.container {
  position: relative;
  padding-bottom: 10px;
}

.content-card {
  width: 20rem;
}

li span {
  font-weight: 600;
}

.card-text {
  font-size: 0.6rem;
}

.long-text {
  font-size: 0.55rem;
}

.back-to-top {
  background: #fff;
  border: solid 1px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  right: 3rem;
  bottom: 4rem;
  color: var(--bg-black);
  transition: 0.3s;
  transform: translateY(100%);
}