<div class=" container pb-4">
    <h1>All Cards</h1>
    <!-- <app-cards></app-cards> -->

    <div class="container mt-3">
        <div class="row d-flex justify-content-center">
            @for (card of cards; track card.id) {
            @if (card.imageUrl != undefined) {
            <div class="card col-3 m-1 ">
                <img [src]="card.imageUrl" alt="{{ card.name }}" class="img-fluid rounded mx-auto d-block p-3">
                <ul class="card-body">
                    <li class="card-text"><span>Nome: </span>{{ card.name }}</li>
                    <li class="card-text"><span>Tipo: </span>{{ card.types }}</li>

                </ul>
            </div>
            }
            }
        </div>
    </div>

    <app-pagination [currentPage]="currentPage" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems"
        (pageChanged)="onPageChange($event)"></app-pagination>
</div>