<div class=" container pb-4">
  <div class="container mt-3">
    <div class="row d-flex justify-content-center">
      @for (set of sets; track set.name) {
      <div class="card col-3 m-1 ">
        <ul class="card-body">
          <li class="card-text"><span>Name: </span>{{ set.name }}</li>
          <li class="card-text"><span>Block: </span>{{ set.block }}</li>
          <li class="card-text"><span>Date: </span>{{ set.releaseDate }}</li>
        </ul>
      </div>
      }

    </div>
  </div>
</div>