<app-navbar></app-navbar>
<!-- <div class="container mt-5 text-center bg-secondary">
  <div class="text-light pb-2">
    <h1 class="display-3">Welcome <br><span>to the Magic Cards </span>

    </h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
      commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Click here</a></p>
  </div>

</div> -->
<app-dec></app-dec>
<!-- <div class="card-deck">
  @for (card of cards; track card.id) {
  @if (card.imageUrl != undefined) {
  <div class="card p-2">
    <img [src]="card.imageUrl" alt="{{ card.name }}" class="card-img-top">
    <ul class="card-body">
      <li class="card-text"><span>Nome: </span>{{ card.name }}</li>
      <li class="card-text"><span>Bloco: </span>{{ card.setName }}</li>
      <li class="card-text"><span>Data de lançamento: </span>00/00</li>
    </ul>
  </div>
  }
  }

</div> -->

<!-- Da pra fazer mas não foi solicitado -->

<!-- <section aria-label="Page navigation example pb-1">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</section> -->


<!-- @for (card of cards; track $index) {
<app-dec [card]="card "></app-dec>
} -->
<app-footer></app-footer>