<app-navbar></app-navbar>
<!-- <div class="container mt-5 text-center bg-secondary">
  <div class="text-light pb-2">
    <h1 class="display-3">Welcome <br><span>to the Magic Cards </span>

    </h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
      commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Click here</a></p>
  </div>

</div> -->
<app-cards></app-cards>
<app-footer></app-footer>