.navbar {
    background-color: var(--bs-dark);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown {
    background-color: var(--bs-gray-700);
    color: var(--bs-light);
    font-weight: 500;
    text-align: center;
    /* color: var(--bs-teal); */
}

option {
    text-align: left;
}

.btn-submit {
    border: solid 2px var(--bs-gray-700);
    color: var(--bs-light);
    font-weight: 500;
}