<nav class="navbar navbar-expand-lg mb-auto px-3">
  <section class="container-fluid">
    <a class="navbar-brand text-light" href="#" (click)="allCards()">Magic Cards</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <section class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

      <form class="d-flex" role="search">
        <input type="search" placeholder="Name" (change)="onValueChange($event)" class="search me-2 px-2" />
        <select class="dropdown me-2 px-2" aria-label="Default select example" (change)="onSelect($event)">
          <option selected disabled>Block</option>
          <option value="Amonkhet">Amonkhet</option>
          <option value="Ixalan">Ixalan</option>
          <option value="Zendikar">Zendikar</option>
          <option value="Ravnica">Ravnica</option>
          <option value="Onslaught">Onslaught</option>
        </select>
        <button class="btn btn-submit" type="button" (click)="onSearch()">Buscar</button>
      </form>
    </section>
  </section>
</nav>